<?xml version="1.0" encoding="UTF-8"?>
<configuration>



    <appender name="TRAFFIC_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SERVER_LOG_HOME}/log/${COMPONENT_NAME}.${HOSTNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${SERVER_LOG_HOME}/log/${COMPONENT_NAME}.${HOSTNAME}.%d{yyyyMMdd}.%i.log</FileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVER_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.base22" level="TRACE"/>


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>